<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>เปรียบเทียบห้องเช่า</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

    <ion-item>
        <ion-label>เลือกห้องเช่า</ion-label>
        <ion-select [(ngModel)]="result.room1">
            <ion-option *ngFor="let get of value" value={{get.room_name}}>{{get.room_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-note>กับ</ion-note>
      <ion-item>

          <ion-label>เลือกห้องเช่า</ion-label>
          <ion-select [(ngModel)]="result.room2">
            <ion-option *ngFor ="let get of value"  value={{get.room_name}}>{{get.room_name}}</ion-option>
          </ion-select>
        </ion-item>
     <button ion-button block (click)="getroomview()">เปรียบเทียบ</button>

       <ion-card >
         <ion-card-content *ngFor="let show of showroom1" >
           <p><b>ชื่อห้องเช่า :</b>{{show.room_name}}</p>
           <p><b>ราคา THB :</b>{{show.room_price}}</p>
           <p><b>ที่อยู่ :</b>{{show.rooms_address}}</p>
           <p><b>ประเภทห้องเช่า :</b>{{show.category_name}}</p>
           <p><b>จำกัดเพศผู้เช่า : </b>{{show.room_category}}</p>
           <p><b>เบอร์โทรติดต่อ :</b>{{show.room_tell}}</p>
         </ion-card-content>
       </ion-card>

       <ion-card>
          <ion-card-content *ngFor="let show of showroom2" >
              <p><b>ชื่อห้องเช่า :</b>{{show.room_name}}</p>
              <p><b>ราคา THB :</b>{{show.room_price}}</p>
              <p><b>ที่อยู่ :</b>{{show.rooms_address}}</p>
              <p><b>ประเภทห้องเช่า :</b>{{show.category_name}}</p>
              <p><b>จำกัดเพศผู้เช่า : </b>{{show.room_category}}</p>
              <p><b>เบอร์โทรติดต่อ :</b>{{show.room_tell}}</p>
            </ion-card-content>
        </ion-card>
</ion-content>